@use "variables" as *;

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-link {
    font-size: 1.4rem;
}

.nav-item {
    margin-right: 1.6rem;
}

.navbar,
footer {
    background-color: $azul-navbar;
}

main {
    background-color: $azul-main;
    color: $cinza-texto;
}

h1,
h2,
h3 {
    color: $branco-texto;
}

div>p {
    text-indent: 1.6rem;
}