@use "variables" as *;

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $azul-navbar;
}

.nav-link {
    font-size: 1.4rem;
}

.nav-item {
    margin-right: 1.6rem;
}

main {
    background-color: $azul-main;
    color: $cinza-texto;
}

div>p {
    text-indent: 1.6rem;
}

footer {
    background-color: $azul-navbar;
}